<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title> 测试ForEach...ForEachElse标签 </title>
</head>
<body>
<table border="0">
<tr>
<th>序号</th>
<th>姓名</th>
<th>年龄</th>
</tr>
<vt:foreach from="users" item="user" index="i">
<tr>
<td>{$:i}<vt:if var="i.isfirst" value="true">首<vt:elseif var="i.islast" value="true" />尾<vt:else />中</vt:if></td>
<td>{$:user.name htmlencode='true'}</td>
<td>{$:user.age}</td>
</tr>
<vt:foreachelse />
<tr>
<td colspan="3">没有用户数据</td>
</tr>
</vt:foreach>
</table>
</body>
</html>
